/*
Author: Daniel Illner - illner.d@protonmail.com
*/

*
{
  margin: 0;
  padding: 0;
}

/* --- Navigation ---*/
#nav-bar
{
  position: sticky;
  top: 0;
  z-index: 10;
}
.navbar-brand img
{
  height: 40px;
  padding-left: 20px;
}
.navbar-nav li
{
  padding: 0 10px;
}
.navbar-nav li a
{
  float: right;
  text-align: left;
}
#nav-bar ul li a:hover
{
  color: #007bff!important;
}
.navbar
{
  background: #fff;
}
.navbar-toggler
{
  border: none!important;
}
.nav-link
{
  color: #555!important;
  font-weight: 600;
  font-size: 16px;
}

/*--- Slider --- */
#slider
{
  width: 100%;
}
.carousel-caption
{
  top: 50%;
  transform: translateY(-50%);
  bottom: initial!important;
}
.carousel-caption h5
{
  color: #fff;
  font-size: 42px;
}

/*--- About ---*/
#about
{
  padding-top: 50px;
  padding-bottom: 50px;
  color: #555;
}
#about h1
{
  text-align: center;
  color: #555 !important;
  padding-bottom: 10px;
}
#about h1::after
{
  content: '';
  background: #555;
  display: block;
  height: 3px;
  width: 170px;
  margin: 20px auto 5px;
}
#about .btn
{
  margin-top: 20px;
  margin-bottom: 30px;

}
#about .about-content
{
  padding-top: 10px;
}
#about .icon
{
  font-size: 60px;
  margin: 20px auto;
  padding: 20px;
  height: 80px;
  width: 80px;
  border: : 10px solid #555;
  border-radius: 50%;
}

/* ------ Project ------*/
#project
{
  background-image: linear-gradient(rgba(0,0,0,0.8), rgba(0,0,0,0.8)),url(../images/project_bg.jpg);
  background-size: cover;
  background-position: center;
  color: #efefef !important;
  background-attachment: fixed;
  padding-top: 10px;
  padding-bottom: 50px;
}
#project h1
{
  text-align: center;
  color: #efefef !important;
  padding-bottom: 10px;
}
#project h1::after
{
  content: '';
  background: #efefef;
  display: block;
  height: 3px;
  width: 170px;
  margin: 20px auto 5px;
}
.chart
{
  /*margin-top: 200px;*/
  text-align: center;
  min-width:50px;
  display: inline;
}

/* ----- Footer ----- */
#Footer
{
  background: #333;
  color: #fff;
  padding: 8px;
}
